<IfModule mod_headers.c>
  <FilesMatch "^shell\.json$">
    Header set Access-Control-Allow-Origin "https://nbassociates.net"
    Header set Cache-Control "public, max-age=3600, stale-while-revalidate=86400"
  </FilesMatch>
</IfModule>
